.quizforumContaine {
  display: flex;
}
.quizinfocontainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 50%;
}
.headercontainer {
  display: flex;
  justify-content: space-between;
  width: 80%;
  align-items: center;
  padding-inline: 50px;
  margin: auto;
  margin-bottom: 50px;
}
.questions-container {
  border: 1px solid rgb(209, 204, 204);
  min-width: 500px;
  min-height: 70vh;
  padding: 50px;
}
